.page-logo{
	background:#29a9dc;
}

.pace .pace-progress-inner, .page-header.navbar, .page-header.navbar .top-menu .navbar-nav>li.dropdown-tasks .dropdown-menu .dropdown-menu-list>li .progress .progress-bar {
    box-shadow: 0 1px 10px 0 rgba(50,50,50,.2);
    background: #fff;
}

@media (max-width:767px){
    .page-header.navbar{
        background:#29a9dc
    }